body {
    font-family: "Roboto", sans-serif;
    background-color: #1e1e1e;
    color: #ffffff;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #333;
    color: #61dafb;
    padding: 20px 0;
    text-align: center;
    border-bottom: 2px solid #61dafb;
}

header h1 {
    margin: 0;
    font-size: 2.8em;
    text-shadow: 2px 2px #000;
}

nav {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

nav a {
    color: #61dafb;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px 20px;
    border: 2px solid #61dafb;
    border-radius: 5px;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
    font-size: 1.2em;
}

nav a:hover {
    background-color: #61dafb;
    color: #333;
}

main {
    padding: 50px 20px;
    text-align: center;
    background-color: #282c34;
    margin: 30px auto;
    border-radius: 10px;
    width: 90%;
    max-width: 900px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

main p {
    font-size: 1.5em;
    margin: 20px 0;
}

footer {
    background: #333;
    color: #61dafb;
    text-align: center;
    padding: 20px 0;
    border-top: 2px solid #61dafb;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

/* Career page */

#career {
    background-color: #282c34;
    padding: 40px;
    margin: 20px auto;
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    color: #f5f5f5;
}

#career h2 {
    color: #61dafb;
    font-size: 2em;
    text-align: center;
}

#career p {
    font-size: 1.2em;
    line-height: 1.8;
    margin: 20px 0;
}

#career h3 {
    font-size: 1.5em;
    margin-top: 30px;
    color: #61dafb;
}

#career ul {
    list-style-type: none;
    padding: 0;
}

#career ul li {
    margin: 10px 0;
}

#career ul li a {
    color: #61dafb;
    text-decoration: none;
    border-bottom: 1px solid #61dafb;
    padding-bottom: 2px;
    transition:
        color 0.3s,
        border-color 0.3s;
}

#career ul li a:hover {
    color: #ffffff;
    border-color: #ffffff;
}
